# Pytorch
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio

# PyTorch Geometric
torch_geometric
# Optional dependencies with specific wheel URLs for torch-2.3.0+cu118
-f https://data.pyg.org/whl/torch-2.3.0+cu118.html
pyg_lib 
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv

# Other dependencies
tensorboard
numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
networkx
tqdm
sentence_transformers
