torch==2.2.1
numpy
pandas
matplotlib
seaborn
scikit-learn
scikit-surprise
torch-scatter -f https://data.pyg.org/whl/torch-${TORCH}.html
torch-sparse -f https://data.pyg.org/whl/torch-${TORCH}.html
git+https://github.com/pyg-team/pytorch_geometric.git
torchmetrics
sentence_transformers